
		
%h3.headline.first-child.text-center
	%span
		Family Updates

%hr

- if @author.present?
	%h1
		= pluralize @count, 'Article'
		by
		= @author.avatar_tag( width: 36 )
		= @author

- if @query.present?
	%h1
		= pluralize @count, 'Article'
		matching
		= "'#{@query}'"

- if @tagged.present?
	%h1
		= pluralize @count, 'Article'
		tagged
		= "'#{@tagged}'"

- if @category.present?
	%h1
		= pluralize @count, 'Article'
		in
		= "'#{@category}'"

= raw paginate @articles
.text-left
	- @articles.each do |article|
		= render 'row', article: article
= raw paginate @articles