!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= render 'application/fb_login_popup_closer'
		= render 'application/html_head', args: {}
		= render 'application/header_styles'
		= render 'application/header_scripts'
	%body
		%header#header
			= render 'application/navbar'

		%section#main
			= render 'application/flash'
			= yield

		%footer#footer
			= render 'application/footer'
		= render 'application/footer_scripts'